* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(./images/backImage.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Navbar section styleing */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

nav #logo h1 {
    font-size: 30px;
    font-weight: 900;

}

#button a button {
    padding: 10px 20px;
    border-radius: 30px;
    padding: 14px 40px;
    cursor: pointer;
    background-color: #7C3AED;
    color: white;
    border: none;

}

/* Hero section styling */

hero-main {
    width: 100%;
    height: 100vh;
}

#hero-main #hero-text h1 {
    margin-top: 3vw;
    text-align: center;
    font-size: 5.8vw;
    font-weight: 900;
}

#hero-main #hero-text h5 {
    text-align: center;
    font-size: 1.5vw;
    margin-top: 1vw;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hero-main #hero-button {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    gap: 1vw;
    margin-top: 5vw;

}

#hero-main #hero-button button {
    padding: 10px 20px;
    border-radius: 30px;
    padding: 14px 30px;
    cursor: pointer;
    background-color: #7C3AED;
    color: white;
    border: none;
    font-size: 1.2vw;
    font-weight: 600;
}

#hero-main #hero-button a:nth-child(2) button {
    background-color: transparent;
    color: #000000;
    background-color: white;
}

#hero-main #hero-creators {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
    gap: 1vw;
}

#hero-main #hero-creators img {
    width: 100px;
    border-radius: 50%;
}

/* Amazing-AI-Tools styling */

#Amazing-AI-Tools {
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(255, 255, 255);
}

#Amazing-AI-Tools #Amazing-AI-Tools-h1 h1 {
    text-align: center;
    font-size: 6vw;
    font-weight: 900;
    margin-top: 7.8vw;
}

#Amazing-AI-Tools #Amazing-AI-Tools-h1 p:nth-child(2) {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
    color: gray;
    margin-top: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 3vw;
}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev1 {
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 2px 1px 10px rgb(212, 212, 212);
    width: 320px;
}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev2 {
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 2px 1px 10px rgb(212, 212, 212);
    width: 300px;
}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev3 {
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 2px 1px 10px rgb(212, 212, 212);
    width: 320px;
}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev1 img {
    width: 70px;
    margin-bottom: 20px;

}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev2 img {
    width: 70px;
    margin-bottom: 20px;

}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev3 img {
    width: 70px;
    margin-bottom: 20px;

}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev1 h1 {
    color: #7C3AED;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;

}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev2 h1 {
    color: #7C3AED;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
}

#Amazing-AI-Tools #Amazing-AI-Tools-3-devs #dev3 h1 {
    color: #7C3AED;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
}
/* Amazing-AI-Tools-6-devs */

#Amazing-AI-Tools-6-devs {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 3vw;
    background-color: white;
}

#Amazing-AI-Tools-6-devs #dev4 {
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 2px 1px 10px rgb(212, 212, 212);
    width: 320px;
}

#Amazing-AI-Tools-6-devs #dev5 {
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 2px 1px 10px rgb(212, 212, 212);
    width: 300px;
}

#Amazing-AI-Tools-6-devs #dev6 {
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 2px 1px 10px rgb(212, 212, 212);
    width: 320px;
}

#Amazing-AI-Tools-6-devs #dev4 img {
    width: 70px;
    margin-bottom: 20px;

}

#Amazing-AI-Tools-6-devs #dev5 img {
    width: 70px;
    margin-bottom: 20px;

}

#Amazing-AI-Tools-6-devs #dev6 img {
    width: 70px;
    margin-bottom: 20px;

}

#Amazing-AI-Tools-6-devs #dev4 h1 {
    color: #7C3AED;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;

}

#Amazing-AI-Tools-6-devs #dev5 h1 {
    color: #7C3AED;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
}

#Amazing-AI-Tools-6-devs #dev6 h1 {
    color: #7C3AED;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
}



