* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(./images/backImage.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Navbar section styleing */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

nav #logo h1 {
    font-size: 30px;
    font-weight: 900;

}

#button a button {
    padding: 10px 20px;
    border-radius: 30px;
    padding: 14px 40px;
    cursor: pointer;
    background-color: #7C3AED;
    color: white;
    border: none;

}

/* Hero section styling */

hero-main {
    width: 100%;
    height: 100vh;
}

#hero-main #hero-text h1 {
    margin-top: 3vw;
    text-align: center;
    font-size: 5.8vw;
}

#hero-main #hero-text h5 {
    text-align: center;
    font-size: 1.5vw;
    margin-top: 1vw;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


